ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 6px 0;
}

.highlight {
  background-color: yellow;
  transition: background-color 1s ease;
}

.edited {
  background-color: lightgreen;
  transition: background-color 1s ease;
}